@charset "utf-8";
/* CSS Document */
body {
	height: auto;
	font: normal 1em/1.5em 'Open Sans', sans-serif; 		
	color: #333; 
	background-color:#F7C8CF;
	background-size:cover;
	margin-top:-20px;
}
.oval{
	position:absolute;
	z-index:-1;
	background-image:url(us.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	filter: alpha(opacity=70);
	opacity:.7;
	width:100%;
	height:800px;
	padding:0px;
}
<span class="s1">
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
</span>@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}


.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
	
	text-align:center;
}

.splash-title {
    color:#E53095;
    font-size: 3em;
    text-shadow: 0 3px 5px #ED1B69;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
	text-align:center;
}


.title{
	color:#F478A6;
	text-shadow: 0 2px 0px #F19B9D;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
	text-align:center;
	text-decoration:none;
	position:relative;
	margin: 0px;
}

@media all and (max-width: 690px) {
    header h1 { width: 100%; text-align: center; margin:10px;}
    header nav { float: none; display: inline-block; margin: 0px; }
      .splash-title {font-size: 2em;}
}

@media all and (max-width: 480px) {
    .splash-title {font-size: 1.5em;}
}
ul{
	list-style-image: url('boxx.png');  
}